<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión - Tu Aplicación</title>
    <link rel="stylesheet" type="text/css" href="/login1.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="">
                <img src="" alt="logo" href="/index.ejs" width="112" height="28">
              </a>
              <div class="navbar-burger burger" data-target="navMenubd-example">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </nav>
          
    <main>
        <div class="container center-block" id="login">
            <form class="form-block">
                <fieldset>
        <div class="login-form">
            <legend>Iniciar Sesión</legend>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" id="email" name="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button class="button primary" type="submit">Login</button>
                </div>
            </fieldset>
                <div class="separator-option"><span>O</span></div>
                <div class="button-block"><a class="button facebook" href="#">Login With Facebook</a><a class="button google" href="#">Login With Google</a><a href="#">Recuerar Contraseña?</a><div></div><a href="/registro">Registrate</a></div>
            </form>
        </div>
    </div>
    </main>
    <footer>
        <p>&copy; 2023 Tu Aplicación</p>
    </footer>
</body>
</html>
